{% extends 'base.html.twig' %}

{% block title %}{{ 'title.auth_login'|trans }}{% endblock %}

{% block body %}
    <div class="column is-6-desktop is-offset-3-desktop">
        {% form_theme form with ['form/form_div_layout.html.twig', 'form/form_errors.html.twig'] %}
        <h1 class="title is-2 form-name form-name--login">{{ 'title.auth_login'|trans }}</h1>

        {% if error is defined and error|length %}
            {% include 'default/_single_alert_message.html.twig' with {
            is_single_message: true,
            is_dismissible: false,
            type: 'danger',
            message: error,
            } %}
        {% endif %}
        {{ form_start(form, { method: 'post', action: path('auth_login_check') }) }}
        {{ form_widget(form) }}
        <input type="submit" value="{{ 'action.login'|trans }}" class="button button--login is-primary is-medium"/>
        {{ form_end(form) }}
        <p class="subtitle is-6 has-text-ultra-light has-text-centered">({{ 'auth.register.text'|trans }} <a class="is-link"
                                                                                                       href="{{ url('user_register') }}"
                                                                                                       title="{{ 'auth.register.label'|trans }}">
                {{ 'auth.register.label'|trans }}</a>{{ 'auth.register.text2'|trans }})</p>
    </div>
{% endblock %}