{% extends 'base.html.twig' %}

{% block title %}{{ 'title.tag_add'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'title.tag_add'|trans }}</h1>
    {{ form_start(form, { method: 'post', action: url('tag_add') }) }}
    {{ form_widget(form) }}
    <input type="submit" value="{{ 'action.save'|trans }}" class="btn btn-success" />
    {{ form_end(form) }}
{% endblock %}