{% extends 'base.html.twig' %}

{% block title %}{{ 'label.bug_add'|trans }}{% endblock %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}

        <div class="column is-6-desktop is-offset-3-desktop">
            <h1 class="title is-1 form-name">{{ 'label.bug_add'|trans }}</h1>
            {% form_theme form with ['form/form_div_layout.html.twig', 'form/form_errors.html.twig'] %}
            {{ form_start(form, { method: 'post', action: url('bug_add') }) }}
            {{ form_widget(form) }}
            <div class="form-buttons form-buttons--edit is-centered">
                {% include 'default/_button_back.html.twig' %}
                <input type="submit" value="{{ 'action.save_bug'|trans }}" class="button form-button is-info"/>
            </div>
            {{ form_end(form) }}

        </div>
    {% else %}
        {% include 'auth/login_required.html.twig' %}
    {% endif %}
{% endblock %}