{% extends 'base.html.twig' %}

{% block title %}{{ 'title.bug_delete'|trans({'%id%': bug.id, '%name%': bug.name}) }}{% endblock %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}

        <div class="column is-8-desktop is-offset-2-desktop">

            <h1 class="title is-1 form-name">{{ 'title.bug_delete'|trans({'%id%': bug.id, '%name%': bug.name}) }}</h1>
            <div class="content">
                <blockquote>
                    <h2 class="subtitle has-text-centered">{{ bug.name }}</h2>
                    <p>{{ bug.description }}</p>
                </blockquote>
                <p class="has-text-centered">
                    {{ 'bug_delete'|trans({'%id%': bug.id, '%name%': bug.name}) }}
                </p>
            </div>
            {% form_theme form with ['form/form_div_layout.html.twig', 'form/form_errors.html.twig'] %}    {{ form_start(form, { method: 'post', action: url('bug_delete', {'id': bug.id}) }) }}
            {{ form_widget(form) }}
            <div class="form-buttons is-centered">
                <input type="submit" value="{{ 'yes'|trans|upper }}" class="button is-danger is-medium form-button"/>
                <a href="{{ url('project_bugs', {'id': bug.project_id}) }}" title="{{ 'label.back_to_list'|trans }}"
                   class="button is-primary is-medium form-button">
                    {{ 'no'|trans|upper }}
                </a>
            </div>
            {{ form_end(form) }}
        </div>
    {% else %}
        {% include 'auth/login_required.html.twig' %}
    {% endif %}
{% endblock %}