{% extends 'base.html.twig' %}

{% block title %}{{ 'title.bug_delete'|trans({'%id%': bug.id, '%name%': bug.name}) }}{% endblock %}

{% block body %}
    <div class="column is-8-desktop is-offset-2-desktop">
        <h1 class="title is-3">{{ 'title.bug_delete'|trans({'%id%': bug.id, '%name%': bug.name}) }}</h1>
        <p class="has-text-centered">
            {{ 'bug_delete'|trans({'%id%': bug.id, '%name%': bug.name}) }}
        </p>
        {% form_theme form with ['form/form_div_layout.html.twig', 'form/form_errors.html.twig'] %}    {{ form_start(form, { method: 'post', action: url('bug_delete', {'id': bug.id}) }) }}
        {{ form_widget(form) }}
        <input type="submit" value="{{ 'action.delete'|trans }}" class="button is-danger button__delete"/>
        {{ form_end(form) }}
        <a href="{{ url('bug_index') }}" title="{{ 'label.back_to_list'|trans }}"
           class="button is-primary is-outlined button__back">
            <span class="fa fa-hand-o-left icon-back" aria-hidden="true"></span>
            {{ 'label.back_to_list'|trans }}
        </a>
    </div>
{% endblock %}