{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.bugs_list'|trans }}
{% endblock %}

 {% block nav_links %}
     <a class="nav-item nav-item__name">
         {# TODO: Main page - login/register -> update url #}
         {{ 'title.app'|trans }}
     </a>
     <a class="nav-item is-tab is-hidden-mobile" href="{{ url('project_index') }}"
        title="{{ 'title.projects_list'|trans }}">{{ 'title.projects_list'|trans }}</a>
     <a class="nav-item is-tab is-hidden-mobile is-active" href="{{ url('bug_index') }}"
        title="{{ 'title.bugs_list'|trans }}">{{ 'title.bugs_list'|trans }}</a>
 {% endblock %}

{% block body %}
    <h1 class="title is-1">
        <a href="{{ url('bug_index') }}"
           title=" {{ 'title.bugs_list'|trans }}" class="list-name">
            {{ 'title.bugs_list'|trans }}</a>
    </h1>
    {% include 'bug/table.html.twig' with {
        type: 'all_bugs'
    } %}
{% endblock %}