{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.bugs_list'|trans }}
{% endblock %}

 {% block nav_links %}
     <a class="nav-item nav-item__name">
         {{ 'title.app'|trans }}
     </a>
     <a class="nav-item is-tab is-hidden-mobile" href="{{ url('project_index') }}"
        title="{{ 'title.projects_list'|trans }}">{{ 'title.projects_list'|trans }}</a>
     <a class="nav-item is-tab is-hidden-mobile is-active" href="{{ url('bug_index') }}"
        title="{{ 'title.bugs_list'|trans }}">{{ 'title.bugs_list'|trans }}</a>
 {% endblock %}

{% block body %}
<a href="{{ url('bug_index') }}" title=" {{ 'title.bugs_list'|trans }}">
    <h1 class="title is-1 list-name">
        {{ 'title.bugs_list'|trans }}
    </h1>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% include 'default/_progress_bar.html.twig' %}
        </a>
        {% if sortBy %}
            {% include 'bug/_filters.html.twig' with {
            type: 'all_bugs_sorted',
            sortBy: sortBy,
            sortOrder: sortOrder
            } %}
        {% else %}
            {% include 'bug/_filters.html.twig' with {
            type: 'all_bugs'
            } %}
        {% endif %}
        {% include 'bug/table.html.twig' with {
        type: 'all_bugs',
        priority: priority,
        status: status,
        category: category,
        } %}
        {% if sortBy %}
            {% include 'default/_paginator.html.twig' with {
            paginator: paginator,
            route_name: 'bug_index_sorted_paginated',
            sortBy: sortBy,
            sortOrder: sortOrder,
            priority: priority,
            status: status,
            category: category,
            } %}
        {% else %}
            {% include 'default/_paginator.html.twig' with {
            paginator: paginator,
            route_name: 'bug_index_paginated',
            priority: priority,
            status: status,
            category: category,
            } %}
        {% endif %}
    {% else %}
        {% include 'auth/login_required.html.twig' %}
    {% endif %}
{% endblock %}