{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.bugs_list'|trans }}
{% endblock %}

{% block body %}

    <h1>
        {{ 'title.bugs_list'|trans }}
    </h1>

    {% if paginator.data|length %}
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>{{ 'bug_name'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for bug in paginator.data %}
                <tr>
                    <td>
                        {{ bug.id }}
                    </td>
                    <td>
                        {{ bug.name }}
                    </td>
                    <td>
                        <a href="{{ url('bug_view', {'id': bug.id}) }}" class="table__link" title="{{ 'label.view'|trans }}">
                            {{ 'label.bug_view'|trans }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ url('bug_edit', {'id': bug.id}) }}" class="table__link" title="{{ 'label.edit'|trans }}">
                            {{ 'label.edit'|trans }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ url('bug_delete', {'id': bug.id}) }}" class="table__link" title="{{ 'label.delete'|trans }}">
                            {{ 'label.delete'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div>
            {{ 'bugs_not_found'|trans }}
        </div>
    {% endif %}
    <a href="{{ url('bug_add') }}" class="table__link table__link--detail"
       title="{{ 'label.bug_add'|trans }}">
        {{ 'label.bug_add'|trans }}
    </a>
    {% include 'default/_paginator.html.twig' with {
    paginator: paginator,
    route_name: 'bug_index_paginated',
    } %}
{% endblock %}