{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {% if paginator.data|length %}
        <table class="table">
            <thead>
            {% if type == 'project_bugs' %}
                {% include 'project/_table_header.html.twig' %}
            {% else %}
                {% include 'bug/_table_header.html.twig' %}
            {% endif %}
            </thead>
            <tbody>
            {% for bug in paginator.data %}
                <tr>
                    <td>
                        {{ bug.id }}
                    </td>
                    <td class="has-text-dark">
                        <b>{{ bug.name }}</b>
                    </td>
                    <td>
                        <span class="tag is-medium">
                            {{ types[bug.type_id-1].name |trans }}</span>
                    </td>
                    <td>
                        <span class="tag is-a-tag priority-dot
                        {% if bug.priority_id == 1 %} is-priority
                        {% elseif bug.priority_id == 3 %} is-urgent
                        {% elseif bug.priority_id == 2 %} is-important
                        {% else %} is-wasting-space {% endif %}">
                            {{ bug.priority_id }}
                        </span>
                    </td>
                    <td>
                        <span class="tag is-medium">
                            <form action="{{ url('bug_change_status', {'id': bug.id, 'type':type}) }}"
                                  method="post">
                                {% if bug.status_id == 1 %}
                                    <input type="submit" value="▢"
                                           title="{{ 'action.do'|trans }}"
                                           class="change-status get-it-done"/>
                                 {% else %}
                                    <input type="submit" value="✔"
                                           title="{{ 'action.undo'|trans }}"
                                           class="change-status is-done"/>
                                {% endif %}
                            </form>
                            {{ statuses[bug.status_id-1].name |trans }}</span>
                    </td>
                    <td class="action-column">
                        <a href="{{ url('bug_view', {'id': bug.id}) }}"
                           class="action-icon action-icon--more fa fa-info"
                           title="{{ 'label.more'|trans }}">
                        </a>
                    </td>
                    <td class="action-column">
                        <a href="{{ url('bug_edit', {'id': bug.id}) }}"
                           class="action-icon action-icon--edit fa fa-pencil"
                           title="{{ 'label.edit'|trans }}">
                        </a>
                    </td>
                    <td class="action-column">
                        <a href="{{ url('bug_delete', {'id': bug.id}) }}"
                           class="action-icon action-icon--delete fa fa-trash"
                           title="{{ 'label.delete'|trans }}">
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div>
            {{ 'bugs_not_found'|trans }}
        </div>
    {% endif %}
    <a href="{{ url('bug_add') }}" class="button is-primary button__add"
       title="{{ 'label.bug_add'|trans }}">
        {{ 'label.bug_add'|trans }}
    </a>
{% else %}

{% endif %}