{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {% if paginator.data|length %}
        <table class="table">
            <thead>
            <tr>
                <th class="icon-small-space">ID
                    {% if sortBy == 'id' %}
                        {% if sortOrder == 'asc' %}
                            <a href="{{ url('bug_index_sorted',
                            {'sortBy': 'id', 'sortOrder' : 'desc'}) }}"
                               class="sort sort-asc sort--active"
                               title="{{ 'label.sort_desc'|trans }}"> </a>
                        {% else %}
                            <a href="{{ url('bug_index_sorted',
                            {'sortBy': 'id', 'sortOrder' : 'asc'}) }}"
                               class="sort sort-desc sort--active"
                               title="{{ 'label.sort_asc'|trans }}"> </a>
                        {% endif %}
                    {% else %}
                        <a href="{{ url('bug_index_sorted',
                        {'sortBy': 'id', 'sortOrder' : 'desc'}) }}"
                           class="sort"
                           title="{{ 'label.sort_asc'|trans }}"> </a>
                    {% endif %}
                </th>
                <th>{{ 'label.bug_name'|trans }}

                    {% if sortBy == 'name' %}
                        {% if sortOrder == 'asc' %}
                            <a href="{{ url('bug_index_sorted',
                            {'sortBy': 'name', 'sortOrder' : 'desc'}) }}"
                               class="sort sort-asc sort--active"
                               title="{{ 'label.sort_desc'|trans }}"> </a>
                        {% else %}
                            <a href="{{ url('bug_index_sorted',
                            {'sortBy': 'name', 'sortOrder' : 'asc'}) }}"
                               class="sort sort-desc sort--active"
                               title="{{ 'label.sort_asc'|trans }}"> </a>
                        {% endif %}
                    {% else %}
                        <a href="{{ url('bug_index_sorted',
                        {'sortBy': 'name', 'sortOrder' : 'asc'}) }}"
                           class="sort"
                           title="{{ 'label.sort_asc'|trans }}"> </a>
                    {% endif %}
                </th>
                <th>{{ 'label.bug_type'|trans }}

                    {% if sortBy == 'type' %}
                        {% if sortOrder == 'asc' %}
                            <a href="{{ url('bug_index_sorted',
                            {'sortBy': 'type', 'sortOrder' : 'desc'}) }}"
                               class="sort sort-asc sort--active"
                               title="{{ 'label.sort_desc'|trans }}"> </a>
                        {% else %}
                            <a href="{{ url('bug_index_sorted',
                            {'sortBy': 'type', 'sortOrder' : 'asc'}) }}"
                               class="sort sort-desc sort--active"
                               title="{{ 'label.sort_asc'|trans }}"> </a>
                        {% endif %}
                    {% else %}
                        <a href="{{ url('bug_index_sorted',
                        {'sortBy': 'type', 'sortOrder' : 'asc'}) }}"
                           class="sort"
                           title="{{ 'label.sort_asc'|trans }}"> </a>
                    {% endif %}
                </th>
                <th class="icon-small-space">{{ 'label.bug_priority'|trans }}
                    {% if sortBy == 'priority' %}
                        {% if sortOrder == 'asc' %}
                            <a href="{{ url('bug_index_sorted',
                            {'sortBy': 'priority', 'sortOrder' : 'desc'}) }}"
                               class="sort sort-asc sort--active"
                               title="{{ 'label.sort_desc'|trans }}"> </a>
                        {% else %}
                            <a href="{{ url('bug_index_sorted',
                            {'sortBy': 'priority', 'sortOrder' : 'asc'}) }}"
                               class="sort sort-desc sort--active"
                               title="{{ 'label.sort_asc'|trans }}"> </a>
                        {% endif %}
                    {% else %}
                        <a href="{{ url('bug_index_sorted',
                        {'sortBy': 'priority', 'sortOrder' : 'asc'}) }}"
                           class="sort"
                           title="{{ 'label.sort_asc'|trans }}"> </a>
                    {% endif %}
                </th>
                <th>{{ 'label.bug_status'|trans }}
                    {% if sortBy == 'status' %}
                        {% if sortOrder == 'asc' %}
                            <a href="{{ url('bug_index_sorted',
                            {'sortBy': 'status', 'sortOrder' : 'desc'}) }}"
                               class="sort sort-asc sort--active"
                               title="{{ 'label.sort_desc'|trans }}"> </a>
                        {% else %}
                            <a href="{{ url('bug_index_sorted',
                            {'sortBy': 'status', 'sortOrder' : 'asc'}) }}"
                               class="sort sort-desc sort--active"
                               title="{{ 'label.sort_asc'|trans }}"> </a>
                        {% endif %}
                    {% else %}
                        <a href="{{ url('bug_index_sorted',
                        {'sortBy': 'status', 'sortOrder' : 'asc'}) }}"
                           class="sort"
                           title="{{ 'label.sort_asc'|trans }}"> </a>
                    {% endif %}
                </th>
                <th class="action-column"></th>
                <th class="action-column"></th>
                <th class="action-column"></th>
            </tr>
            </thead>
            <tbody>
            {% for bug in paginator.data %}
                <tr>
                    <td>
                        {{ bug.id }}
                    </td>
                    <td class="has-text-dark">
                        <b>{{ bug.name }}</b>
                    </td>
                    <td>
                        <span class="tag is-medium">
                            {{ types[bug.type_id-1].name |trans }}</span>
                    </td>
                    <td>
                        <span class="tag is-a-tag priority-dot
                        {% if bug.priority_id == 1 %} is-priority
                        {% elseif bug.priority_id == 3 %} is-urgent
                        {% elseif bug.priority_id == 2 %} is-important
                        {% else %} is-wasting-space {% endif %}">
                            {{ bug.priority_id }}
                        </span>
                    </td>
                    <td>
                        <span class="tag is-medium">
                            <form action="{{ url('bug_change_status', {'id': bug.id}) }}"
                                  method="post">
                                {% if bug.status_id == 1 %}
                                    <input type="submit" value="▢"
                                           title="{{ 'action.do'|trans }}"
                                           class="change-status get-it-done"/>
                                 {% else %}
                                    <input type="submit" value="✔"
                                           title="{{ 'action.undo'|trans }}"
                                           class="change-status is-done"/>
                                {% endif %}
                            </form>
                            {{ statuses[bug.status_id-1].name |trans }}</span>
                    </td>
                    <td class="action-column">
                        <a href="{{ url('bug_view', {'id': bug.id}) }}"
                           class="action-icon action-icon--more fa fa-info"
                           title="{{ 'label.more'|trans }}">
                        </a>
                    </td>
                    <td class="action-column">
                        <a href="{{ url('bug_edit', {'id': bug.id}) }}"
                           class="action-icon action-icon--edit fa fa-pencil"
                           title="{{ 'label.edit'|trans }}">
                        </a>
                    </td>
                    <td class="action-column">
                        <a href="{{ url('bug_delete', {'id': bug.id}) }}"
                           class="action-icon action-icon--delete fa fa-trash"
                           title="{{ 'label.delete'|trans }}">
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div>
            {{ 'bugs_not_found'|trans }}
        </div>
    {% endif %}
    <a href="{{ url('bug_add') }}" class="button is-primary button__add"
       title="{{ 'label.bug_add'|trans }}">
        {{ 'label.bug_add'|trans }}
    </a>
    {% include 'default/_paginator.html.twig' with {
    paginator: paginator,
    route_name: 'bug_index_paginated',
    } %}
{% else %}

{% endif %}