{% extends 'base.html.twig' %}

{% block title %}{{ 'label.project_add'|trans }}{% endblock %}

{% block body %}
    <h1 class="title is-1">{{ 'label.project_add'|trans }}</h1>
    {% form_theme form with ['form/form_div_layout.html.twig', 'form/form_errors.html.twig'] %}
    {{ form_start(form, { method: 'post', action: url('project_add') }) }}
    {{ form_widget(form) }}
    <input type="submit" value="{{ 'action.save'|trans }}" class="button is-primary button__add" />
    {{ form_end(form) }}
{% endblock %}