{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.project_bugs'|trans({'%name%': project.name}) }}
{% endblock %}
 {% block nav_links %}
     <a class="nav-item nav-item__name">
         {{ 'title.app'|trans }}
     </a>
     <a class="nav-item is-tab is-hidden-mobile" href="{{ url('project_index') }}"
        title="{{ 'title.projects_list'|trans }}">{{ 'title.projects_list'|trans }}</a>
     <a class="nav-item is-tab is-hidden-mobile" href="{{ url('bug_index') }}"
        title="{{ 'title.bugs_list'|trans }}">{{ 'title.bugs_list'|trans }}</a>
     <a class="nav-item is-tab is-hidden-mobile is-active" href="{{ url('project_bugs',
     {'id': project.id}) }}"
        title=" {{ 'title.project_bugs'|trans({'%name%': project.name}) }}"> {{ 'title.project_bugs'|trans({'%name%': project.name}) }}</a>
 {% endblock %}
{% block body %}
    <a href="{{ url('project_bugs', {'id': project.id}) }}">
        <h1 class="title is-1 list-name">
            {{ 'title.project_bugs'|trans({'%name%': project.name}) }}
        </h1>
        {% include 'default/_progress_bar.html.twig' %}
    </a>
    {% if sortBy %}
        {% include 'bug/_filters.html.twig' with {
        type: 'project_bugs_sorted',
        sortBy: sortBy,
        sortOrder: sortOrder
        } %}
    {% else %}
        {% include 'bug/_filters.html.twig' with {
        type: 'project_bugs'
        } %}
    {% endif %}
    {% include 'bug/table.html.twig' with {
    type: 'project_bugs',
    priority: priority,
    status: status,
    category: category,
    } %}
    {% if sortBy %}
        {% include 'default/_paginator.html.twig' with {
        paginator: paginator,
        route_name: 'project_bugs_sorted_paginated',
        id: project.id,
        sortBy: sortBy,
        sortOrder: sortOrder,
        priority: priority,
        status: status,
        category: category,
        } %}
    {% else %}
        {% include 'default/_paginator.html.twig' with {
        paginator: paginator,
        route_name: 'project_bugs_paginated',
        id: project.id,
        priority: priority,
        status: status,
        category: category,
        } %}
    {% endif %}
{% endblock %}