{% extends 'base.html.twig' %}

{% block title %}{{ 'title.project_delete'|trans({'%id%': project.id}) }}{% endblock %}

{% block body %}
    <h1>{{ 'title.project_delete'|trans({'%id%': project.id, '%title%': project.title}) }}</h1>
    {% form_theme form with ['bootstrap_3_horizontal_layout.html.twig', 'form/form_errors.html.twig'] %}    {{ form_start(form, { method: 'post', action: url('project_delete', {'id': project.id}) }) }}
    {{ form_widget(form) }}
    <input type="submit" value="{{ 'action.delete'|trans }}" class="btn btn-success" />
    {{ form_end(form) }}
    <a href="{{ url('project_index') }}" title="{{ 'label.back_to_list'|trans }}" class="btn btn-default">
        <span class="fa fa-mail-reply" aria-hidden="true"></span>
        {{ 'label.back_to_list'|trans }}
    </a>
{% endblock %}