{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.projects_list'|trans }}
{% endblock %}
 {% block nav_links %}
     <a class="nav-item nav-item__name">
         {{ 'title.app'|trans }}
     </a>
     <a class="nav-item is-tab is-hidden-mobile is-active" href="{{ url('project_index') }}"
        title="{{ 'title.projects_list'|trans }}">{{ 'title.projects_list'|trans }}</a>
     <a class="nav-item is-tab is-hidden-mobile" href="{{ url('bug_index') }}"
        title="{{ 'title.bugs_list'|trans }}">{{ 'title.bugs_list'|trans }}</a>
 {% endblock %}
{% block body %}
    <h1 class="title is-1">
        <a href="{{ url('project_index') }}"
           class="list-name">
            {{ 'title.projects_list'|trans }}</a>
    </h1>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% if paginator.data|length %}
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>{{ 'label.project_name'|trans }}</th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th>{{ 'column.user_name'|trans }}</th>{% endif %}
                    <th class="description-column">{{ 'label.project_description'|trans }}</th>
                    <th>{{ 'label.project_start_date'|trans }}</th>
                    <th>{{ 'label.project_end_date'|trans }}</th>
                    <th class="action-column"></th>
                    <th class="action-column"></th>
                    <th class="action-column"></th>
                </tr>
                </thead>
                <tbody>
                {% for project in paginator.data %}
                    <tr>
                        <td>
                            {{ project.id }}
                        </td>
                        <td>
                            <a href="{{ url('project_bugs', {'id': project.id}) }}"
                               title="{{ 'label.view'|trans }}"><b>{{ project.name }}</b></a>
                        </td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <td><a href="{{ url('user_view', {'id': project.user_id}) }}" class="has-text-grey"
                                   title="{{ 'label.view_profile'|trans }}">{{ project.user_name|capitalize }}</a></td>
                        {% endif %}
                        <td class="description-column">
                            {{ project.description|length > 160 ? project.description|slice(0, 160) ~ '...' : project.description }}
                        </td>
                        <td>
                            {% if  project.start_date != '0000-00-00' %}
                                {{ project.start_date }}
                            {% endif %}
                        </td>
                        <td>
                            {% if  project.end_date != '0000-00-00' %}
                                {{ project.end_date }}
                            {% endif %}
                        </td>
                        <td class="action-column">
                            <a href="{{ url('project_bugs', {'id': project.id}) }}"
                               class="action-icon action-icon--more fa fa-bug"
                               title="{{ 'label.view'|trans }}">
                            </a>
                        </td>
                        <td class="action-column">
                            <a href="{{ url('project_edit', {'id': project.id}) }}"
                               class="action-icon action-icon--edit fa fa-pencil"
                               title="{{ 'label.edit'|trans }}">
                            </a>
                        </td>
                        <td class="action-column">
                            <a href="{{ url('project_delete', {'id': project.id}) }}"
                               class="action-icon action-icon--delete fa fa-trash"
                               title="{{ 'label.delete'|trans }}">
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div>
                {{ 'projects_not_found'|trans }}
            </div>
        {% endif %}
        <a href="{{ url('project_add') }}" class="button is-primary button__add"
           title="{{ 'label.project_add'|trans }}">
            {{ 'label.project_add'|trans }}
        </a>
        {% include 'default/_paginator.html.twig' with {
        paginator: paginator,
        route_name: 'project_index_paginated',
        } %}
    {% else %}
        {% include 'auth/login_required.html.twig' %}
    {% endif %}
{% endblock %}