{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.project_view'|trans({'%id%': projectId}) }}
{% endblock %}

{% block body %}
    <h1>
        {{ 'title.project_view'|trans({'%id%': projectId}) }}
    </h1>
    {% if project|length %}

        <table>
            <thead>
            <tr>
                <th>{{ 'project_table.title'|trans }}</th>
                <th>{{ 'project_table.url'|trans }}</th>
                <th>{{ 'project_table.tag'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    {{ project.title }}
                </td>
                <td>
                    {{ project.url }}
                </td>
                {#<td>#}
                {#<ul class="tag__list">#}
                {#{% for tag in project.tags %}#}
                {#<li class="tag__item">{{ tag }}</li>#}
                {#{% endfor %}#}
                {#</ul>#}
                {#</td>#}
            </tr>
            </tbody>
        </table>
        <a href="{{ url('project_index') }}" class="table__link table__link--detail"
           title="{{ 'label.back_to_list'|trans }}">
            {{ 'label.back_to_list'|trans }}
        </a>
        <a href="{{ url('project_edit', {'id': project.id}) }}" class="table__link" title="{{ 'label.edit'|trans }}">
            {{ 'label.edit'|trans }}
        </a>
        <a href="{{ url('project_delete', {'id': project.id}) }}" class="table__link"
           title="{{ 'label.delete'|trans }}">
            {{ 'label.delete'|trans }}
        </a>
    {% else %}
        <div>
            {{ 'project_not_found'|trans }}
        </div>
    {% endif %}

{% endblock %}