{% if user|length %}
    <div class="notification notification--bug">
        <h1 class="title is-1">{{ user.login|capitalize }}</h1>
        {% if is_granted('ROLE_ADMIN') %}
            <div class="action-buttons action-buttons--profile">
                <a href="{{ url('user_edit', {'id': user.id, 'type': 'password'}) }}"
                   class="fa fa-pencil tag action-button action-button--password"
                   title="{{ 'label.change_password'|trans }}">
                </a>
                <a href="{{ url('user_edit', {'id': user.id, 'type': 'role'}) }}"
                   class="fa fa-lock tag action-button action-button--role"
                   title="{{ 'label.change_role'|trans }}">
                </a>
                <a href="{{ url('user_delete', {'id': user.id}) }}"
                   class="fa fa-times tag action-button action-button--delete"
                   title="{{ 'label.delete_user'|trans }}">
                </a>
            </div>
        {% endif %}
        {% if projects|length %}
            {% include 'default/_progress_bar.html.twig' with {
            'bugsAll': bugsAll,
            'bugsDone': bugsDone,
            } %}
        {% endif %}
        <nav class="panel">
            <p class="panel-heading has-no-border">
                {% if projects|length %}
                    {{ 'title.projects_list'|trans }}
                {% else %}
                    {{ 'user_with_no_projects'|trans }}
                {% endif %}
            </p>
            {% for project in projects %}
                <a href="{{ url('project_bugs', {'id': project.id}) }}"
                   title="{{ 'label.view'|trans }}" class="panel-block has-no-border">
                       <span class="panel-icon">
                          <i class="fa fa-bug bug-panel"></i>
                       </span>
                    {{ project.name }}{% if project.description %}: {{ project.description }}{% endif %}
                </a>
            {% endfor %}
        </nav>
        {% if action == 'view' %}
            <div class="form-buttons form-buttons--back is-centered">
                {% include 'default/_button_back.html.twig' %}
            </div>
        {% endif %}
    </div>
{% else %}
    {{ 'profile_not_found'|trans }}
{% endif %}