{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.user_list'|trans }}
{% endblock %}
 {% block nav_links %}
     <a class="nav-item nav-item__name">
         {{ 'title.app'|trans }}
     </a>
     <a class="nav-item is-tab is-hidden-mobile" href="{{ url('project_index') }}"
        title="{{ 'title.projects_list'|trans }}">{{ 'title.projects_list'|trans }}</a>
     <a class="nav-item is-tab is-hidden-mobile" href="{{ url('bug_index') }}"
        title="{{ 'title.bugs_list'|trans }}">{{ 'title.bugs_list'|trans }}</a>
     {% if is_granted('ROLE_ADMIN') %}
         <a class="nav-item is-tab is-hidden-mobile is-active" href="{{ url('user_index') }}"
            title="{{ 'title.users_list'|trans }}">{{ 'title.users_list'|trans }}</a>
     {% endif %}
 {% endblock %}
{% block body %}
    <h1 class="title is-1">
        <a href="{{ url('user_index') }}"
           class="list-name">
            {{ 'title.user_list'|trans }}</a>
    </h1>
    {% if is_granted('ROLE_ADMIN') %}
        {% if paginator.data|length %}
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>{{ 'label.login'|trans }}</th>
                    <th class="action-column"></th>
                    <th class="action-column"></th>
                    <th class="action-column action-column--edit"></th>
                    <th class="action-column"></th>
                    <th class="action-column"></th>
                </tr>
                </thead>
                <tbody>
                {% for user in paginator.data %}
                    <tr>
                        <td>
                            {{ user.id }}
                        </td>
                        <td>
                            <a href="{{ url('user_view', {'id': user.id}) }}"
                               class="link"
                               title="{{ 'label.view_profile'|trans }}"><b>{{ user.login|capitalize }}</b>
                            </a>
                        </td>
                        <td class="user-column">
                            {% set project_count = 0 %}
                            {% for project in projects %}
                                {% if project.user_id == user.id %}
                                    {% set project_count = project_count + 1 %}
                                {% endif %}
                            {% endfor %}
                            <p class="project-count">
                                {% if project_count > 1 %}
                                    {{ 'column.project_count'|trans({'%count%': project_count}) }}
                                {% elseif project_count == 1 %}
                                    {{ 'column.project_count_one'|trans }}
                                {% else %}
                                    {{ 'column.project_count_zero'|trans }}
                                {% endif %}
                            </p>
                        </td>
                        <td class="action-column">
                            <a href="{{ url('user_view', {'id': user.id}) }}"
                               class="action-icon action-icon--more fa fa-user"
                               title="{{ 'label.view_profile'|trans }}">
                            </a>
                        </td>
                        <td class="action-column action-column--edit">
                            <a href="{{ url('user_edit', {'id': user.id, 'type': 'password'}) }}"
                               class="action-icon action-icon--yellow fa fa-pencil"
                               title="{{ 'label.change_password'|trans }}">
                            </a>
                        </td>
                        <td class="user-column">
                            <a href="{{ url('user_edit', {'id': user.id, 'type': 'role'}) }}"
                               class="action-icon action-icon--orange fa fa-lock"
                               title="{{ 'label.change_role'|trans }}">
                            </a>
                            <p class="role-name">
                                {{ user.role_name|trans }}
                            </p>
                        </td>
                        <td class="action-column">
                            <a href="{{ url('user_delete', {'id': user.id}) }}"
                               class="action-icon action-icon--red fa fa-trash"
                               title="{{ 'label.delete_user'|trans }}">
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div>
                {{ 'users_not_found'|trans }}
            </div>
        {% endif %}
        <a href="{{ url('user_register') }}" class="button is-primary button__add"
           title="{{ 'label.user_add'|trans }}">
            {{ 'label.user_add'|trans }}
        </a>
        {% include 'default/_paginator.html.twig' with {
        paginator: paginator,
        route_name: 'user_index_paginated',
        priority: null,
        status: null,
        category: null,
        sortBy: null,
        sortOrder: null
        } %}
    {% else %}
        {% include 'auth/login_required.html.twig' %}
    {% endif %}
{% endblock %}