{% extends 'base.html.twig' %}

{% block title %}{{ 'title.auth_register'|trans }}{% endblock %}

{% block body %}
    {% form_theme form with ['form/form_div_layout.html.twig', 'form/form_errors.html.twig'] %}
    <h1 class="title is-2 form-name">{{ 'title.auth_register'|trans }}</h1>

    {% if error is defined and error|length %}
        {% include 'default/_single_alert_message.html.twig' with {
        is_single_message: true,
        is_dismissible: false,
        type: 'danger',
        message: error,
        } %}
    {% endif %}

    <div class="column is-6-desktop is-offset-3-desktop">
        {{ form_start(form, { method: 'post', action: url('user_register') }) }}
        {{ form_widget(form) }}
        <input type="submit" value="{{ 'auth.register.label'|trans }}" class="button button--login is-primary is-medium" />
        {{ form_end(form) }}
    </div>
{% endblock %}