<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}Bug Tracker{% endblock %}</title>

    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Hammersmith+One" rel="stylesheet">
        <!--build:css css/app.min.css-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.min.css" rel="stylesheet">
        <link href="{{ asset('css/vendor/datedropper.css') }}" rel="stylesheet">
        <link href="{{ asset('css/application.css') }}" rel="stylesheet">
        <!--endbuild-->
    {% endblock %}

</head>
<body>
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;" fill-rule="evenodd" clip-rule="evenodd"
     stroke-linejoin="round" stroke-miterlimit="1.41421">
    <symbol id="github" viewbox="0 0 300 298">
        <path d="M120.58 297.0925C51.85 283.4115 0 222.7135 0 150.0005c0-82.788 67.213-150 150-150s150 67.212 150 150c0 68.043-45.405 125.566-107.547 143.857-1.352-5.916-2.344-11.515-2.824-15.546v-36.384c0-12.375-4.342-20.441-9.093-24.551 29.523-3.281 60.537-14.496 60.537-65.421 0-14.474-5.137-26.307-13.645-35.589 1.37-3.336 5.911-16.827-1.304-35.091 0 0-11.115-3.558-36.428 13.59-10.596-2.939-21.944-4.408-33.214-4.464-11.27.056-22.606 1.525-33.18 4.464-25.335-17.148-36.472-13.59-36.472-13.59-7.204 18.253-2.663 31.744-1.293 35.091-8.475 9.282-13.657 21.104-13.657 35.589 0 50.792 30.96 62.162 60.405 65.532-3.801 3.303-7.237 9.159-8.419 17.722-7.569 3.392-26.761 9.248-38.583-11.016 0 0-7.005-12.739-20.319-13.667 0 0-12.95-.177-.917 8.055 0 0 8.695 4.077 14.728 19.402 0 0 7.679 23.667 44.56 15.645v24.683c0 1.413-1.045 9.603-2.755 18.781z"></path>
    </symbol>
</svg>
<div class="page-wrap">
    <nav class="nav has-shadow">
        <div class="container">
            <div class="nav-left">
                {% block nav_links %}
                    <a class="nav-item nav-item__name">
                        {{ 'title.app'|trans }}
                    </a>
                    <a class="nav-item is-tab" href="{{ url('project_index') }}"
                       title="{{ 'title.projects_list'|trans }}">{{ 'title.projects_list'|trans }}</a>
                    <a class="nav-item is-tab is-active" href="{{ url('bug_index') }}"
                       title="{{ 'title.bugs_list'|trans }}">{{ 'title.bugs_list'|trans }}</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="nav-item is-tab is-hidden-mobile" href="{{ url('user_index') }}"
                           title="{{ 'title.users_list'|trans }}">{{ 'title.users_list'|trans }}</a>
                    {% endif %}
                {% endblock %}
            </div>
            <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
            <div class="nav-right nav-menu">
                <a class="nav-item is-tab is-hidden-tablet" href="{{ url('project_index') }}"
                   title="{{ 'title.projects_list'|trans }}">{{ 'title.projects_list'|trans }}</a>
                <a class="nav-item is-tab is-hidden-tablet" href="{{ url('bug_index') }}"
                   title="{{ 'title.bugs_list'|trans }}">{{ 'title.bugs_list'|trans }}</a>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% block profile_link %}
                        <a class="nav-item is-tab" href="{{ url('user_profile') }}"
                           title="{{ 'action.profile'|trans }}">{{ 'action.profile'|trans }}</a>
                    {% endblock %}
                    <a class="nav-item is-tab" href="{{ url('auth_logout') }}" title="{{ 'auth.logout.label'|trans }}">
                        {{ 'auth.logout.label'|trans }}
                    </a>
                {% else %}
                    <a class="nav-item is-tab" href="{{ url('auth_login') }}" title="{{ 'auth.login.label'|trans }}">
                        {{ 'auth.login.label'|trans }}
                    </a>
                {% endif %}
                {# to change locale of current page only #}
                {% set params = global.request.attributes.get('_route_params')|merge(global.request.query.all()) %}
                {% set plParams = params|merge({'_locale': 'pl'}) %}
                {% set enParams = params|merge({'_locale': 'en'}) %}
                {% if global.request.locale == "en" %}
                    <a class="nav-item is-tab"
                       href="{{ path(global.request.attributes.get('_route'), plParams) }}">PL</a>
                {% else %}
                    <a class="nav-item is-tab"
                       href="{{ path(global.request.attributes.get('_route'), enParams) }}">EN</a>
                {% endif %}
            </div>
        </div>
    </nav>
    <div class="notification-container">
        {% include 'default/_flash_messages.html.twig' %}
    </div>
    <div class="container">
        <div class="columns">
            <div class="column is-offset-1 is-10 is-centered">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
</div>
{% block footer %}
    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
                <p>
                    <b><a href="https://anna.pm" class="is-link footer__link">Anna
                            Wróbel</a></b>
                    <br/>Projekt zaliczeniowy z Systemu Interakcyjnego</p>
                {#<p>#}
                {#<a class="icon" href="https://github.com/anna-wro/">#}
                {#<svg class="icon">#}
                {#<use xlink:href="#github"></use>#}
                {#</svg>#}
                {#</a>#}
                {#</p>#}
            </div>
        </div>
    </footer>
{% endblock %}
{% block javascripts %}
    <!--build:js js/main.min.js -->
    <script
            src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
    <script src="{{ asset('js/vendor/datedropper.js') }}"></script>
    <script src="{{ asset('js/main.js') }}">
    </script>
    <!-- endbuild -->
{% endblock %}
</body>
</html>